In [1]:
import pandas as pd
import numpy as np
from scipy.stats import norm

## Data Prep ##

In [2]:
sofr_raw = pd.read_excel("hist_data.xlsm", sheet_name="SofrCurve")
aapl_raw = pd.read_excel("hist_data.xlsm", sheet_name="AAPL").set_index("Date")
msft_raw = pd.read_excel("hist_data.xlsm", sheet_name="MSFT").set_index("Date")
f_raw = pd.read_excel("hist_data.xlsm", sheet_name="F").set_index("Date")
bac_raw = pd.read_excel("hist_data.xlsm", sheet_name="BAC").set_index("Date")

In [3]:
# clean up sofr raw
sofr_raw = sofr_raw
sofr_raw.index = sofr_raw["Tenor"]
annualized_time = sofr_raw["T"]
sofr_raw.drop(columns=["T"], inplace=True)
sofr_raw.drop(columns=["Tenor"], inplace=True)
# sofr_raw.columns.name = "Date"

In [4]:
annualized_time

Tenor
1D      0.002778
1M      0.083333
2M      0.166667
3M      0.250000
6M      0.500000
9M      0.750000
1Y      1.000000
2Y      2.000000
3Y      3.000000
4Y      4.000000
5Y      5.000000
6Y      6.000000
7Y      7.000000
8Y      8.000000
9Y      9.000000
10Y    10.000000
11Y    11.000000
12Y    12.000000
13Y    13.000000
14Y    14.000000
15Y    15.000000
16Y    16.000000
17Y    17.000000
18Y    18.000000
19Y    19.000000
20Y    20.000000
25Y    25.000000
30Y    30.000000
35Y    35.000000
40Y    40.000000
Name: T, dtype: float64

In [5]:
sofr_raw

,2022-10-31,2022-11-01,2022-11-02,2022-11-03,2022-11-04,2022-11-07,2022-11-08,2022-11-09,2022-11-10,2022-11-14,...,2023-10-17,2023-10-18,2023-10-19,2023-10-20,2023-10-23,2023-10-24,2023-10-25,2023-10-26,2023-10-27,2023-10-30
Tenor,,,,,,,,,,,,,,,,,,,,,
1D,0.039191,0.039604,0.039948,0.040389,0.045965,0.040224,0.040339,0.040373,0.052075,0.040975,...,0.052964,0.053038,0.053050,0.053072,0.053090,0.053105,0.052981,0.053047,0.052989,0.052967
1M,0.038721,0.039023,0.039286,0.039585,0.042343,0.039258,0.039211,0.039193,0.043694,0.039174,...,0.053114,0.053102,0.053086,0.053046,0.053077,0.053084,0.053057,0.053089,0.053040,0.053053
2M,0.038670,0.038886,0.039100,0.039350,0.038795,0.039460,0.039420,0.039483,0.038786,0.039732,...,0.053374,0.053284,0.053226,0.053128,0.053191,0.053202,0.053259,0.053218,0.053185,0.053265
3M,0.040536,0.040725,0.040852,0.041154,0.040611,0.041424,0.041406,0.041445,0.040867,0.041627,...,0.053666,0.053561,0.053454,0.053323,0.053404,0.053424,0.053490,0.053414,0.053368,0.053476
6M,0.044577,0.044849,0.044884,0.045281,0.045212,0.045455,0.045334,0.045299,0.044951,0.044918,...,0.054078,0.053989,0.053758,0.053546,0.053638,0.053690,0.053749,0.053567,0.053486,0.053612
9M,0.046004,0.046448,0.046580,0.047107,0.046752,0.047189,0.046941,0.046883,0.045754,0.046142,...,0.053831,0.053753,0.053427,0.053126,0.053211,0.053293,0.053393,0.053089,0.052991,0.053120
1Y,0.046449,0.046970,0.047203,0.047894,0.047500,0.047929,0.047589,0.047479,0.045989,0.046469,...,0.053225,0.053163,0.052750,0.052348,0.052389,0.052503,0.052653,0.052243,0.052115,0.052245
2Y,0.044583,0.045022,0.045496,0.046594,0.046097,0.046633,0.046046,0.045585,0.042912,0.043394,...,0.049497,0.049611,0.049204,0.048366,0.048027,0.048399,0.048791,0.048044,0.047758,0.047904
3Y,0.042002,0.042344,0.042749,0.043833,0.043385,0.043884,0.043209,0.042645,0.039631,0.039989,...,0.046978,0.047304,0.047169,0.046151,0.045582,0.045999,0.046595,0.045645,0.045284,0.045429
4Y,0.040318,0.040614,0.040868,0.041825,0.041503,0.041916,0.041182,0.040704,0.037584,0.037869,...,0.045605,0.046034,0.046195,0.045156,0.044508,0.044850,0.045594,0.044538,0.044200,0.044345
5Y,0.039297,0.039522,0.039675,0.040507,0.040303,0.040635,0.039857,0.039489,0.036386,0.036627,...,0.044929,0.045414,0.045751,0.044758,0.044048,0.044305,0.045200,0.044086,0.043762,0.043928
6Y,0.038534,0.038658,0.038776,0.039537,0.039421,0.039734,0.038881,0.038647,0.035572,0.035793,...,0.044567,0.045049,0.045511,0.044604,0.043871,0.044036,0.045017,0.043893,0.043636,0.043794
7Y,0.037979,0.038007,0.038117,0.038820,0.038782,0.039111,0.038192,0.038085,0.035027,0.035246,...,0.044333,0.044795,0.045361,0.044548,0.043806,0.043889,0.044911,0.043808,0.043643,0.043779
8Y,0.037648,0.037605,0.037704,0.038328,0.038373,0.038715,0.037781,0.037765,0.034725,0.034950,...,0.044178,0.044635,0.045287,0.044554,0.043784,0.043816,0.044867,0.043795,0.043702,0.043828
9Y,0.037465,0.037368,0.037458,0.038002,0.038128,0.038473,0.037560,0.037612,0.034598,0.034825,...,0.044081,0.044545,0.045266,0.044606,0.043798,0.043798,0.044876,0.043829,0.043793,0.043915
10Y,0.037353,0.037209,0.037300,0.037796,0.037988,0.038327,0.037447,0.037562,0.034588,0.034805,...,0.044033,0.044508,0.045282,0.044690,0.043853,0.043826,0.044926,0.043898,0.043908,0.044023
11Y,0.037268,0.037081,0.037186,0.037673,0.037913,0.038240,0.037394,0.037575,0.034656,0.034845,...,0.044025,0.044510,0.045324,0.044799,0.043949,0.043891,0.045010,0.043990,0.044045,0.044144
12Y,0.037217,0.036985,0.037100,0.037580,0.037870,0.038197,0.037380,0.037621,0.034761,0.034916,...,0.044046,0.044532,0.045376,0.044913,0.044061,0.043969,0.045108,0.044090,0.044184,0.044264
13Y,0.037203,0.036928,0.037034,0.037476,0.037831,0.038183,0.037392,0.037677,0.034870,0.034993,...,0.044078,0.044556,0.045427,0.045016,0.044160,0.044040,0.045198,0.044181,0.044311,0.044372
14Y,0.037193,0.036877,0.036961,0.037356,0.037775,0.038166,0.037395,0.037716,0.034958,0.035055,...,0.044100,0.044564,0.045457,0.045090,0.044228,0.044085,0.045262,0.044245,0.044407,0.044452
15Y,0.037151,0.036802,0.036855,0.037221,0.037687,0.038118,0.037361,0.037715,0.035006,0.035086,...,0.044092,0.044543,0.045451,0.045125,0.044254,0.044093,0.045289,0.044269,0.044460,0.044491
16Y,0.037057,0.036682,0.036701,0.037069,0.037557,0.038021,0.037271,0.037659,0.035000,0.035074,...,0.044041,0.044482,0.045399,0.045113,0.044230,0.044056,0.045268,0.044244,0.044461,0.044481
17Y,0.036907,0.036511,0.036498,0.036886,0.037380,0.037868,0.037122,0.037544,0.034940,0.035014,...,0.043945,0.044380,0.045299,0.045051,0.044154,0.043972,0.045198,0.044171,0.044411,0.044422
18Y,0.036698,0.036287,0.036248,0.036657,0.037152,0.037655,0.036917,0.037371,0.034825,0.034902,...,0.043802,0.044232,0.045154,0.044940,0.044030,0.043841,0.045078,0.044049,0.044309,0.044313
19Y,0.036433,0.036010,0.035953,0.036372,0.036870,0.037383,0.036657,0.037138,0.034656,0.034735,...,0.043613,0.044038,0.044963,0.044777,0.043859,0.043663,0.044906,0.043882,0.044157,0.044154
20Y,0.036111,0.035678,0.035613,0.036022,0.036534,0.037047,0.036344,0.036845,0.034433,0.034510,...,0.043377,0.043797,0.044727,0.044564,0.043640,0.043437,0.044683,0.043668,0.043955,0.043946
25Y,0.034091,0.033645,0.033627,0.033811,0.034424,0.034922,0.034390,0.034969,0.032875,0.032961,...,0.041749,0.042129,0.043131,0.042996,0.042129,0.041874,0.043076,0.042182,0.042508,0.042452
30Y,0.032350,0.031979,0.031936,0.032134,0.032558,0.033135,0.032672,0.033394,0.031361,0.031597,...,0.040020,0.040368,0.041437,0.041276,0.040536,0.040238,0.041358,0.040589,0.040985,0.040874
35Y,0.030552,0.030238,0.030292,0.030407,0.030723,0.031300,0.030902,0.031539,0.029648,0.029815,...,0.038261,0.038585,0.039579,0.039464,0.038720,0.038438,0.039564,0.038760,0.039167,0.039068
40Y,0.028708,0.028478,0.028608,0.028655,0.028933,0.029495,0.029141,0.029678,0.027861,0.027985,...,0.036399,0.036702,0.037577,0.037531,0.036735,0.036493,0.037641,0.036764,0.037148,0.037090

In [6]:
aapl_raw.rename(columns={"Adj Close": "adj_close_aapl"}, inplace=True)
msft_raw.rename(columns={"Adj Close": "adj_close_msft"}, inplace=True)
f_raw.rename(columns={"Adj Close": "adj_close_f"}, inplace=True)
bac_raw.rename(columns={"Adj Close": "adj_close_bac"}, inplace=True)

In [7]:
aapl_raw

            adj_close_aapl
Date
2022-10-31      152.041122
2022-11-01      149.373917
2022-11-02      143.801514
2022-11-03      137.703613
2022-11-04      137.435455
...                    ...
2023-10-24      172.991058
2023-10-25      170.657135
2023-10-26      166.458023
2023-10-27      167.784576
2023-10-30      169.849197

[251 rows x 1 columns]

In [8]:
aapl_diff = aapl_raw.pct_change()
msft_diff = msft_raw.pct_change()
f_diff = f_raw.pct_change()
bac_diff = bac_raw.pct_change()

In [9]:
msft_diff

            adj_close_msft
Date
2022-10-31             NaN
2022-11-01       -0.017059
2022-11-02       -0.035368
2022-11-03       -0.026579
2022-11-04        0.033326
...                    ...
2023-10-24        0.003674
2023-10-25        0.030678
2023-10-26       -0.037514
2023-10-27        0.005856
2023-10-30        0.022740

[251 rows x 1 columns]

In [10]:
# combine df?
stock_return = pd.concat([aapl_diff, msft_diff, f_diff, bac_diff], axis=1)
stock_return.dropna(inplace=True)
stock_return

            adj_close_aapl  adj_close_msft  adj_close_f  adj_close_bac
Date
2022-11-01       -0.017543       -0.017059     0.002244       0.004439
2022-11-02       -0.037305       -0.035368    -0.025373      -0.003039
2022-11-03       -0.042405       -0.026579     0.015314      -0.005542
2022-11-04       -0.001947        0.033326     0.018854       0.025077
2022-11-07        0.003902        0.029270     0.014064       0.005980
...                    ...             ...          ...            ...
2023-10-24        0.002543        0.003674    -0.007840      -0.003911
2023-10-25       -0.013492        0.030678     0.013169       0.003141
2023-10-26       -0.024606       -0.037514    -0.016464       0.022309
2023-10-27        0.007969        0.005856    -0.122467      -0.036371
2023-10-30        0.012305        0.022740    -0.019076       0.020660

[250 rows x 4 columns]

## Moddeling the Joint Distribution of the Daily Risk Factor Changes ##
* For each risk factor, specify how you want to model their changes. As I suggested, one
way is to model the absolute daily changes in the zero rate risk factors and model the
daily relative returns of the stock prices.
* Once the above is specified, follow the approach of each VaR model (parametric/Monte
Carlo/historical) to model the joint distribution of the daily risk factor changes.

For each risk factor, you would need to use the 1-year historical data provided to compute their
daily changes over the 1-year historical period. Using the historical daily changes of the risk
factors, one can then determine the joint distribution of 1-day risk factor changes under each of
the 3 VaR models

* Parametric VaR. The 1-day risk factor changes are assumed to be multivariate-normally
distributed. One can simply estimate the means and covariance matrix of the multivariate
normal distribution using the sample means and convariance matrix calculated from the
historical daily changes.
* Monte Carlo VaR. The 1-day risk factor changes are also assumed to be
multivariate-normally distributed. Hence, one simply follow the same appproach as the
parametric VaR to estimate the means and covariance matrix of the multivariate normal
distribution.
* Historical VaR. The joint distribution of the 1-day risk factor changes is simply given by
the empirical distribution of the 1-year historical sample of daily risk factor changes.
Dr. Tony Wong 4 / 21

## Stock VaR - Parametric ##

This is kinda following the lecture notes. Use the percentage diff

In [11]:
# params
stock_return_mean = stock_return.mean()
stock_return_cov = stock_return.cov()
stock_w = 1e6 * np.ones(4)

Prof Tony made a typo in the lecture notes, recall from QF6000 asset pricing
* portfolio mean return = w`R
* portfolio variance = w`Vw

Where w = weights of the portfolio, V is return covariance matrix, R is the return matrix

In [12]:
# my instinct was to use np.dot, but this is easier to read & understand
stock_port_mean = np.matmul(stock_w, stock_return_mean)
stock_port_var = np.matmul(np.matmul(stock_w, stock_return_cov), stock_w)

In [13]:
z_value = norm.ppf(0.05)

Z-value formula adapted to our convention for VaR calculation is
$$z = \frac{J-\mu}{\sigma}$$
VaR is deined as
$$ VaR_{\alpha,h} = |J|$$
$$ P(L \leq J) = \alpha $$
The project wants one-tail 95% confidence, so that means $$\alpha = 0.05$$
That means
$$J = |\mu + \sigma \cdot z_{\alpha=0.05}|

In [14]:
var_stock = abs(stock_port_mean + z_value * np.sqrt(stock_port_var))
var_stock

87730.49630401182

## Swap VaR - Parametric ##

Begin with calculating the PV01, we will find the price of the option at T = 0

In [15]:
fixed_rate = 4.2 / 100
one_bee_pee = 0.01 / 100
swap_notional = 100_000_000

In [16]:
start_df = pd.concat([annualized_time, sofr_raw[sofr_raw.columns[-1]]], axis=1)
start_df["disc_factor"] = np.exp(-start_df["T"] * start_df[start_df.columns[1]])

In [17]:
start_df

               T  2023-10-30 00:00:00  disc_factor
Tenor
1D      0.002778             0.052967     0.999853
1M      0.083333             0.053053     0.995589
2M      0.166667             0.053265     0.991162
3M      0.250000             0.053476     0.986720
6M      0.500000             0.053612     0.973550
9M      0.750000             0.053120     0.960943
1Y      1.000000             0.052245     0.949097
2Y      2.000000             0.047904     0.908638
3Y      3.000000             0.045429     0.872591
4Y      4.000000             0.044345     0.837462
5Y      5.000000             0.043928     0.802808
6Y      6.000000             0.043794     0.768923
7Y      7.000000             0.043779     0.736051
8Y      8.000000             0.043828     0.704247
9Y      9.000000             0.043915     0.673524
10Y    10.000000             0.044023     0.643887
11Y    11.000000             0.044144     0.615337
12Y    12.000000             0.044264     0.587914
13Y    13.000000             0.044372     0.561671
14Y    14.000000             0.044452     0.536696
15Y    15.000000             0.044491     0.513061
16Y    16.000000             0.044481     0.490808
17Y    17.000000             0.044422     0.469928
18Y    18.000000             0.044313     0.450393
19Y    19.000000             0.044154     0.432173
20Y    20.000000             0.043946     0.415234
25Y    25.000000             0.042452     0.346003
30Y    30.000000             0.040874     0.293400
35Y    35.000000             0.039068     0.254771
40Y    40.000000             0.037090     0.226819

In [18]:
pv_fix = (
    start_df.loc["1Y", "disc_factor"]
    + start_df.loc["2Y", "disc_factor"]
    + start_df.loc["3Y", "disc_factor"]
    + start_df.loc["4Y", "disc_factor"]
    + start_df.loc["5Y", "disc_factor"]
    + start_df.loc["6Y", "disc_factor"]
    + start_df.loc["7Y", "disc_factor"]
    + start_df.loc["8Y", "disc_factor"]
    + start_df.loc["9Y", "disc_factor"]
    + start_df.loc["10Y", "disc_factor"]
) * fixed_rate
pv_float = 1 - start_df.loc["10Y", "disc_factor"]
pv_total = pv_float - pv_fix

In [19]:
print(f" {pv_float} - {pv_fix} = {pv_total}")
print("ok lah times notional")
print(pv_total * swap_notional)

 0.3561126525177397 - 0.3316836325192765 = 0.024429019998463197
ok lah times notional
2442901.9998463197

we tickle each of the zero rates by 1bp

In [25]:
start_df_tickled = start_df.copy()
tickled_pv = []

               T  2023-10-30 00:00:00  disc_factor
Tenor
1D      0.002778             0.052967     0.999853
1M      0.083333             0.053053     0.995589
2M      0.166667             0.053265     0.991162
3M      0.250000             0.053476     0.986720
6M      0.500000             0.053612     0.973550
9M      0.750000             0.053120     0.960943
1Y      1.000000             0.052245     0.949097
2Y      2.000000             0.047904     0.908638
3Y      3.000000             0.045429     0.872591
4Y      4.000000             0.044345     0.837462
5Y      5.000000             0.043928     0.802808
6Y      6.000000             0.043794     0.768923
7Y      7.000000             0.043779     0.736051
8Y      8.000000             0.043828     0.704247
9Y      9.000000             0.043915     0.673524
10Y    10.000000             0.044023     0.643887
11Y    11.000000             0.044144     0.615337
12Y    12.000000             0.044264     0.587914
13Y    13.000000             0.044372     0.561671
14Y    14.000000             0.044452     0.536696
15Y    15.000000             0.044491     0.513061
16Y    16.000000             0.044481     0.490808
17Y    17.000000             0.044422     0.469928
18Y    18.000000             0.044313     0.450393
19Y    19.000000             0.044154     0.432173
20Y    20.000000             0.043946     0.415234
25Y    25.000000             0.042452     0.346003
30Y    30.000000             0.040874     0.293400
35Y    35.000000             0.039068     0.254771
40Y    40.000000             0.037090     0.226819

In [21]:
# this is highly inneficient but it works so stop complaining
for tenor in start_df_tickled.index:
    # add one bee pee
    start_df_tickled.loc[tenor, start_df_tickled.columns[1]] = (
        start_df_tickled.loc[tenor, start_df_tickled.columns[1]] + one_bee_pee
    )

    start_df_tickled["disc_factor"] = np.exp(
        -start_df_tickled["T"] * start_df_tickled[start_df_tickled.columns[1]]
    )
    # lazy fkr tyna copy paste stuff
    temp_pv_fix = (
        start_df_tickled.loc["1Y", "disc_factor"]
        + start_df_tickled.loc["2Y", "disc_factor"]
        + start_df_tickled.loc["3Y", "disc_factor"]
        + start_df_tickled.loc["4Y", "disc_factor"]
        + start_df_tickled.loc["5Y", "disc_factor"]
        + start_df_tickled.loc["6Y", "disc_factor"]
        + start_df_tickled.loc["7Y", "disc_factor"]
        + start_df_tickled.loc["8Y", "disc_factor"]
        + start_df_tickled.loc["9Y", "disc_factor"]
        + start_df_tickled.loc["10Y", "disc_factor"]
    ) * fixed_rate
    temp_pv_float = 1 - start_df_tickled.loc["10Y", "disc_factor"]

    temp_pv_total = temp_pv_float - temp_pv_fix

    tickled_pv.append(temp_pv_total)

    # revert back
    start_df_tickled = start_df.copy()

In [22]:
tickled_pv = pd.DataFrame(tickled_pv, index=start_df.index)
pv01 = tickled_pv - pv_total
relevant_pv01 = pv01.loc[abs(pv01[0]) > 0] * swap_notional

In [23]:
relevant_pv01

                  0
Tenor
1Y       398.600677
2Y       763.179678
3Y      1099.300108
4Y      1406.655357
5Y      1685.475099
6Y      1937.105609
7Y      2163.233594
8Y      2365.322757
9Y      2544.776906
10Y    67059.526256

In [24]:
sliced_sofr_raw = sofr_raw.loc[sofr_raw.index.isin(relevant_pv01_in_pct.index)]
sliced_sofr_raw_diff = sliced_sofr_raw.diff(axis=1)
sliced_sofr_raw_diff

NameError: name 'relevant_pv01_in_pct' is not defined